.content, .text-wrapper, .heading {
    display: flex;
}

.content {
    margin: 8rem 10rem 0;
    gap: 3rem;
    align-items: center;
}

.content img {
    height: 26rem;
}

.text-wrapper, .heading {
    flex-direction: column;
}

.text-wrapper {
    gap: 1.4rem;
}

.heading {
    gap: 2rem;
}

.text-wrapper a {
    display: flex;
    justify-content: center;
    border: solid 1.6px black;
    padding: 1rem;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.text-wrapper a:hover {
    transform: translate( .3rem, -.5rem);
    box-shadow: -.2rem .5rem black;
}